<% include ../layouts/admin/header %>
    <h1 class = "text-center">Mofas</h1>
    <div class="card">
        <div class="card-body">
            <h2>All Mofas</h2>    

            <table class = "table" id = "myTable">
                <thead>
                    <tr>
                      
                    </tr>
                </thead>
                <tbody>
                 </tbody>   
            </table>
        </div>
    </div>
<% include ../layouts/admin/footer %>