<% include ../layouts/admin/header %>
    <div class="card">
        <div class="card-body">
            <h2>MOFA Info</h2>    

           <form action="">
            <table class = "table">
                    <thead>
                        <tr>
                            <th>PAX Code</th>
                            <td><%= pax.code %></td>
                        </tr>
                    </thead>
                    <tbody>
                        </tbody>   
            </table>
           </form>
        </div>
    </div>
<% include ../layouts/admin/footer %>