        </div>
        <script src = "/bower_components/jquery/dist/jquery.min.js"></script>
        <script src = "/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src = "/js/main.js"></script>
        <script src = "//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    </body>
</html>