<% include layouts/header %>
    <div class="card">
        <div class="card-body">
            <h1 class = "text-center">HR</h1>
            <br><br>
            <p class = "text-center">
                <a href="/login" class = "btn btn-info">Login</a>
                <a href="/register" class = "btn btn-primary">Register</a>
            </p>
        </div>
    </div>
<% include layouts/footer %>