.alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }
  
  .alert-error hr {
    border-top-color: #f1b0b7;
  }
  
  .alert-error .alert-link {
    color: #491217;
  }

  .alert-success_msg {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }
  
  .alert-success_msg hr {
    border-top-color: #b1dfbb;
  }
  
  .alert-success_msg .alert-link {
    color: #0b2e13;
  }

  #sticker-info
  {
    background:#ECF0F5;
    width: 50%;
    text-align: center;
    margin:100px auto;
    padding:2px 15px;
    border-radius:10px;
  }

  #sticker
  {
    background : white;
    width:100%;
    text-align:center;
    margin: 100px auto;
    border:2px solid #ECF0F5;
    border-radius:15px;
  }

  