<% include ../layouts/admin/header %>

<% include ./search %>

<div class="col-md-12">
    <% if (result) { %>
        <h1 class = "text-center text-danger"><%= result  %></h1>
    <%} %>
</div>

<% include ../layouts/admin/footer %>