<% include layouts/header %>
    <div class="card">
        <div class="card-body">
            <h1 class = "text-center">User Home</h1>
            <br><br>
        </div>
    </div>
<% include layouts/footer %>