<% include ../layouts/admin/header %>
<div class="container mt-xs-5 mb-xs-5">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
            <h4>User TimeLine</h4>
            <%if (newUser.events.length > 0){ %>
                
                <ul class="timeline">
                <% newUser.events.forEach(user => { %>
                    <li>
                        <a target="_blank" href="https://www.totoprayogo.com/#"><%= user.display_name %></a>
                        <a href="#" class="pull-right"><%= moment(user.time).startOf('hour').fromNow();%></a>
                        <p><%= user.description %></p>
                    </li>
                <% }); %>    
                </ul>
            <% } else { %>
                <h1>No Events</h1>
            <% } %>
		</div>
	</div>
</div>

<% include ../layouts/admin/footer %>