<% include ../layouts/admin/header %>
<div style="text-align: center">
    <h1><%= searchStage %></h1>
    <h3>Search By PAX Code</h3>

    <form action="/stamping/search" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <div class="col-md-offset-4 col-md-4 ">
            <div class="form-group">
                <label for="code">PAX Code</label>
                <input type="text" name="code" id="code" class="form-control"
                    value="<%= typeof form != 'undefined' ? form.code : '' %>">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <input type="submit" name="submit" value="Search" class="btn btn-success">
            </div>
        </div>
    </form>
</div>
<% include ../layouts/admin/footer %>